@{
    Layout = null;
}
<div class="widget">
    <ul class="useropts">
        <li>@Html.ActionLink("Profiel", "index", "user")
        <li>@Html.ActionLink("Account instellingen", "instellingen", "user")
        <!--<li>@Html.ActionLink("Beheer", "beheer", "user")-->
        <li class="userblock"></li>
        <li>@Html.ActionLink("Inbox", "inbox", "user")
        <li>@Html.ActionLink("Verstuur bericht", "maakbericht", "user")
    </ul>
</div>