@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="widget user-widget">
        <h3>Hallo @User.Identity.Name</h3>
                    
        <img src="@ViewBag.GravatarURL" class="avater">

        <ul class="stats right">
            <li><img src="../../Styles/check.png" alt="Stemmen">@ViewBag.Usermeta.Votes
            <li><img src="../../Styles/aplus.png" alt="Antwoorden">@ViewBag.Usermeta.Answers
            <li><img src="../../Styles/seen.png" alt="Bekeken">@ViewBag.BadgeCount
        </ul>

        <p>@Html.ActionLink("Mijn profiel", "Index", "profiel", new { username = ViewBag.User.UserName }, new { })</p>
    </div>
}