@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="widget user-widget">
        <h3>Hallo @User.Identity.Name</h3>
                    
        <img src="@ViewBag.GravatarURL" class="avater">

        <ul class="stats right">
            <li><img src="../../Styles/check.png" alt="Stemmen">@ViewBag.Usermeta.Votes
            <li><img src="../../Styles/aplus.png" alt="Antwoorden">@ViewBag.Usermeta.Answers
            <li><img src="../../Styles/seen.png" alt="Bekeken">@ViewBag.BadgeCount
        </ul>
        @if (ViewBag.UnreadMessages != 0)
        {
            if (ViewBag.UnreadMessages > 1)
            {
                <p>@Html.ActionLink((string)String.Format("U heeft {0} ongelezen berichten", @ViewBag.UnreadMessages), "inbox", "user")</p>
            }
            else
            {
                <p>@Html.ActionLink("U heeft 1 ongelezen bericht", "inbox", "user")</p>
            }
        }
        <p>@Html.ActionLink("Mijn profiel", "Index", "profiel", new { username = ViewBag.User.UserName }, new { })</p>
    </div>
}