<div class="l-nav desktop">
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "default")
            <li><a href="#">Vraag</a>
            <li>@Html.ActionLink("Tags", "Index", "Tags")
        </ul>

        <ul class="right">
            <li><input id="search" placeholder="Zoek">
            <li>@Html.Partial("_LogInPartial")
        </ul>
    </nav>
</div>
<div class="l-nav mobile">
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "default")
            <li><a href="#">Vraag</a>
            <li>@Html.ActionLink("Tags", "Index", "Tags")
            <li><input id="search" placeholder="Zoek">
            <li>@Html.Partial("_LogInPartial")
        </ul>
    </nav>
</div>