@{
    ViewBag.Title = "Inbox";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_User.cshtml";
        ViewBag.TitleTag = null;
    }
    else
    {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}

<h2>Inbox</h2>

@if (ViewBag.MailsCount == 0)
{
    <div class="question">
        <p>Er zijn geen mailtjes.</p>
    </div>
}
else
{   
    <div class="question">
    @foreach (var mail in ViewBag.MailsIn)
    {
        <p>
            @if (mail.Viewed == 0)
            {
                <b>@Html.ActionLink((string)mail.Title, "viewmail", "user", new { id = mail.MessageID }, new { })</b>
                <br /><span>van @mail.SenderId verstuurd op @mail.Created_At</span>
               
                 
            }
            else
            {
                @Html.ActionLink((string)mail.Title, "viewmail", "user", new { id = mail.MessageID }, new { })
                <br /><span>van @mail.SenderId verstuurd op @mail.Created_At</span>
            }
        </p>
    }
    </div>
}

