@{
    ViewBag.Title = "Inbox";
    if (Request.Headers["X-PJAX"] == null)
    {
        Layout = "~/Views/Layouts/_User.cshtml";
        ViewBag.TitleTag = null;
    }
    else
    {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}

<h2>Inbox</h2>

@if (ViewBag.MailsCount == 0)
{
    <div class="question">
        <p>Er zijn geen mailtjes.</p>
    </div>
}
else
{   
    <div class="question">
        <span class="markreadbutton">@Html.ActionLink("Markeer alle berichten als gelezen", "markeergelezen", "user")</span>
        @foreach (var mail in ViewBag.MailsIn)
        {
            <p class="inboxmessage">
                @if (mail.Viewed == 0)
                {
                    <b>@Html.ActionLink((string)mail.Title, "viewmail", "user", new { id = mail.MessageID }, new { })</b>
                }
                else
                {
                    @Html.ActionLink((string)mail.Title, "viewmail", "user", new { id = mail.MessageID }, new { })
                }
                    <span>
                    <b>@NHLStackOverflow.Classes.StringToDateTime.ConvertToUnixTimestamp((double)mail.Created_At)</b> geleden door
                        @foreach (var user in ViewBag.UserList)
                        {
                            if (user.UserID == mail.SenderId)
                            {
                                <b>@Html.ActionLink((string)user.UserName, "Index", "profiel", new { UserName = user.UserName }, "")</b>   
                            }
                        }    
                    </span>
                    <span class="right">[@Html.ActionLink("Verwijder", "deletemail", "user", new { id = mail.MessageID }, "")]</span>
                    
            </p>
        }

    </div>
}

