@{
    ViewBag.Title = "Gebruikerspage - Question Jam";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_User.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>Account Instelling</h2>
<hr />
<h3>Verander avatar</h3>
<div class="form">
    <p>Maak een account op <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> met hetzelfde email adres waarmee je hier aangemeld bent. Daarna kun je met dat account je avatar te wijzigen.</p>
</div>

<h3>Verander wachtwoord</h3>
@using (Html.BeginForm())
{
   
<div class="form">
        @Html.ValidationSummary()

        @Html.Password("NowPassword", "", new { placeholder = "Huidige wachtwoord" })
        <hr>
        @Html.Password("Password1", "", new { placeholder = "Nieuwe wachtwoord" })
        <hr>
        @Html.Password("Password2", "", new { placeholder = "Herhaal nieuwe wachtwoord" })
        <hr>
        <span>@ViewBag.Message</span>
        <input type="submit" value="Verander wachtwoord" id="submit">
</div>
}
<br />
<h3>Verander email</h3>
@using (Html.BeginForm())
{
   
<div class="form">
        @Html.ValidationSummary()
        @Html.TextBox("Email", "", new { placeholder = "Nieuw email adress" })
        <hr>
        <span>@ViewBag.MessageDuex</span>
        <input type="submit" value="Verander email" id="submit2">
</div>
}
<p></p>