@{
    ViewBag.Title = "Tags - Question Jam ";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
    
    int i = 0;
}
@ViewBag.TitleTag

<h2>Tags</h2>
<div class="tagoverview">
@foreach (var t in ViewBag.TagList)
{
    if (i % 2 == 0)
    { @Html.Raw("<div>") }
                         
    <div class="tag">
        <p class="tags">@Html.ActionLink((string)t.Name, "Search", "Tags", new { id = t.TagID }, new { }) x @t.Count</p>
        <p>@Html.Raw(t.Description)
    </div>
    
    if (i % 2 != 0)
    { @Html.Raw("</div>") }

    if (i > -1) { i++; }
}
</div>