@{
    ViewBag.Title = ViewBag.QuestionDetail.Title + " - Question Jam";
    if (Request.Headers["X-PJAX"] == null) {
        Layout = "~/Views/Layouts/_Main.cshtml";
        ViewBag.TitleTag = null;
    } else {
        ViewBag.TitleTag = "{{" + ViewBag.Title + "}}";
        Layout = null;
    } 
}
@ViewBag.TitleTag

<h2>@ViewBag.QuestionDetail.Title</h2> 

<article class="question">
    
    @Html.Raw(ViewBag.QuestionDetail.Content) 
    
    <aside class="q-meta">  

        <p class="stats">
            <span title="Stemmen">
                <img src="../../Styles/check.png" alt="Stemmen"/>@ViewBag.QuestionDetail.Votes
            </span>

            <span title="Antwoorden">
                <img src="../../Styles/aplus.png" alt="Antwoorden"/>@ViewBag.QuestionDetail.Answers
            </span>

            <span title="Bekeken">
                <img src="../../Styles/seen.png" alt="Bekeken"/>@ViewBag.QuestionDetail.Views
            </span>

            <time>
                <b>@NHLStackOverflow.Classes.StringToDateTime.ConvertToUnixTimestamp(ViewBag.QuestionDetail.Created_At)</b> geleden
            </time>
            door
                <b>@Html.ActionLink((string)ViewBag.QuestionUser.UserName, "view", "user", new { id = ViewBag.QuestionUser.UserID }, new { })</b> 
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("+1", "voteup", "vraag", new { id = ViewBag.QuestionDetail.QuestionID }, "")
                @Html.ActionLink("Rapporteer", "FlagVraag", "vraag", new { id = ViewBag.QuestionDetail.QuestionID }, "")
            } 
        </p>

        <p class="tags">
            @foreach (var tag in ViewBag.Helper)
            {
                @Html.ActionLink((string)tag.Tag.Name, "search", "tags", new { id = tag.Tag.TagID }, new { })
                @Environment.NewLine
            }
        </p>
        @if (ViewBag.UserRank >= 3)
        {
            @Html.Raw("[")
            @Html.ActionLink("Verwijder vraag", "delete", "vraag", new { id = ViewBag.QuestionDetail.QuestionID }, "")
            @Html.Raw("]")
        }        
    </aside>
    
    <ul class="comments">
        @foreach (var comment in ViewBag.CommentsList)
        {
            if (comment.QuestionId == ViewBag.QuestionDetail.QuestionID)
            {
                <li>
                    @comment.Content
                <time>
                    <b>@NHLStackOverflow.Classes.StringToDateTime.ConvertToUnixTimestamp(comment.Created_At)</b> geleden
                </time>
                door

                @foreach (var user in ViewBag.UserCommentList)
                {
                    if (user.UserID == comment.UserId)
                    {
                        <b>@Html.ActionLink((string)user.UserName, "view", "user", new { id = user.UserID }, new { target = "_blank" })</b>  
                        break;
                    }
                }
                @if (ViewBag.UserRank >= 1)
                {
                    @Html.Raw("[")
                    @Html.ActionLink("Verwijder", "delete", "comment", new { id = comment.CommentID }, "")
                    @Html.Raw("]")
                }
                @if(User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Flag", "FlagComment", "comment", new { id = comment.CommentID }, "")
                }
                </li>
            }
        }
        <li class="respond">
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
                @Html.TextBox("questionComment", "", new { placeholder = "Reageer", @class = "add-comment" });
            }
        }
        else
        {
            <span>U moet ingelogd zijn om een reactie te kunnen geven.</span>
        }
        </li>
    </ul>
</article>
@if (ViewBag.AnswerCount == 1)
{
    <h2>Er is @ViewBag.AnswerQuestionCount antwoord</h2>        
}
else
{  
    <h2>Er zijn @ViewBag.AnswerQuestionCount antwoorden</h2>    
}

@foreach (var answer in ViewBag.AnswerQuestionList)
{
    <article class="question">
        <p>@Html.Raw(answer.Content)</p>
        <aside class="q-meta">
            <p class="stats">
                <span title="Stemmen">
                    <img src="../../Styles/check.png" alt="Stemmen" />@answer.Votes
                </span>
                <time>
                    <b>@NHLStackOverflow.Classes.StringToDateTime.ConvertToUnixTimestamp(answer.Created_At)</b> geleden
                </time>
                door
                @foreach (var usertje in ViewBag.UserAnswerList)
                {
                    if (usertje.UserID == answer.UserId)
                    {
                        <b>@Html.ActionLink((string)usertje.UserName, "view", "user", new { id = usertje.UserID }, new { })</b>   
                        break;
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("+1", "VoteUp", "answer", new { id = answer.AnswerID }, "")
                }
            </p>
            @if (ViewBag.UserRank >= 2)
            {
<<<<<<< HEAD
                @Html.Raw("[")
                @Html.ActionLink("Verwijder antwoord", "delete", "answer", new { id = answer.AnswerID }, "")
                @Html.Raw("]")
=======
                @Html.ActionLink("Delete antwoord", "delete", "answer", new { id = answer.AnswerID }, "")
            }
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Vote", "VoteUp", "answer", new { id = answer.AnswerID }, "")
                @Html.ActionLink("Flag", "FlagAnswer", "answer", new { id = answer.AnswerID }, "")
>>>>>>> b0ff2b4742415164440f5891b68808488ef563b7
            }
            
        </aside>
         <ul class="comments">
            @foreach (var acomment in ViewBag.AnswerComments)
            {
                if (acomment.AnswerId == answer.AnswerID)
                {
                    <li>
                        @acomment.Content
                    <time>
                        <b>@NHLStackOverflow.Classes.StringToDateTime.ConvertToUnixTimestamp(acomment.Created_At)</b> geleden
                    </time>
                    door

                    @foreach (var user in ViewBag.qCommentList)
                    {
                        if (user.UserID == acomment.UserId)
                        {
                            <b>@Html.ActionLink((string)user.UserName, "view", "user", new { id = user.UserID }, new { })</b>  
                            break;
                        }
                    }
                    @if (ViewBag.UserRank >= 1)
                    {
                        @Html.Raw("[")
                        @Html.ActionLink("Verwijder", "delete", "comment", new { id = acomment.CommentID }, "")
                        @Html.Raw("]")
                    }
                    @if(User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Flag", "FlagComment", "comment", new { id = acomment.CommentID }, "")
                    }

                    </li>
                }
            }
            <li class="respond">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm())
                {
                    string aID = Convert.ToString(answer.AnswerID);
                    @Html.TextBox("awnserComment", "", new { placeholder = "Reageer", @class = "add-comment" });
                    @Html.TextBox("awnserID", aID, new { type = "hidden" });
                }
            }
            else
            {
                <span>U dient te zijn ingelogd om een reactie te schrijven.</span>
            }
            </li>
        </ul>
    </article>
}

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
    <div class="form">
        @Html.TextArea("awnser", "", new { placeholder = "Schrijf een antwoord", @class = "editor" })
        <p>Antwoorden mogen worden opgemaakt met <a href="http://daringfireball.net/projects/markdown/syntax" rel="nofollow">Markdown</a>. HTML opmaak is niet toegestaan.</p>
        <input type="submit" value="Antwoord" />
    </div>
    }
}
else
{
    <span>U dient te zijn ingelogd om een antwoord te schrijven.</span>
}


